<launch>
    <arg name="theta" default="1.17" />
    <arg name="x" default="0" />
    <arg name="y" default="0" />

    <node name="motion_controller_client_node" pkg="motion_controller" type="motion_controller_client_node" args="$(arg theta) $(arg x) $(arg y)" respawn="false" output="screen" /> 
</launch>
