<launch>
    <arg name="theta" default="0.008" />
    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="precision" default="1" />

    <node name="motion_controller_client_node" pkg="motion_controller" type="motion_controller_client_node" args="$(arg theta) $(arg x) $(arg y) $(arg precision)" respawn="false" output="screen" /> 
</launch>
