<launch>
    <arg name="debug" default="false" />
    <arg name="timeout" default="1.0" />
    <node name="motion_controller_controller_node" pkg="motion_controller" type="motion_controller_controller_node" respawn="false" output="screen" >
        <param name="debug" value="$(arg debug)" />
        <param name="timeout" value="$(arg timeout)" />
    </node>
</launch>