<launch>
    <arg name="param_modification" default="false" />
    <node name="motion_controller_controller_node" pkg="motion_controller" type="motion_controller_controller_node" respawn="false" output="screen" >
        <param name="param_modification" value="$(arg param_modification)" />
    </node>
</launch>