CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.jpg
*.png
*.gif
*.pth
*.pt
*.ipynb
*.engine
*.wts
*.pyc
*.bag
*.bag.*
build/
logs/
devel/
.vscode/
.catkin_tools/
# src/apriltag/
# src/apriltag_ros/
src/cv_camera/
src/fdilink_ahrs/
src/image_proc/
# src/robot_pose_ekf/
src/usb_cam/
src/vision_msgs/
# src/wheeltec_robot_rc/
src/zbar_ros/
src/kalibr/aslam*/
src/kalibr/catkin_simple/
src/kalibr/opencv2_catkin/
src/kalibr/Schweizer-Messer/
src/kalibr/Dockerfile*
src/yolov5_ros/src/yolov5/
src/yolov5_ros/src/yolov5_deepsort_tensorrt/
src/yolov5_ros/src/tensorrtx/
src/lsn10/
src/imu_utils/
src/code_utils/
src/VINS-Fusion-gpu/
src/mono-vo/
src/imu_filter_madgwick/
src/imu_complementary_filter/
.VSCodeCounter