CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.jpg
*.png
*.gif
*.pth
*.pt
*.ipynb
*.engine
*.wts
*.pyc
build/
logs/
devel/
.vscode/
.catkin_tools/
# src/apriltag/
# src/apriltag_ros/
src/cv_camera/
src/fdilink_ahrs/
src/image_proc/
src/realsense-ros-development/
# src/robot_pose_ekf/
src/usb_cam/
src/vision_msgs/
# src/wheeltec_robot_rc/
src/zbar_ros/
src/cv_bridge/
src/detection_msgs/
src/yolov5_ros/src/yolov5/
src/yolov5_ros/src/yolov5_deepsort_tensorrt/
src/yolov5_ros/src/tensorrtx/
src/lsn10/
.VSCodeCounter