<launch>
    <arg name="node_namespace" default="my_hand_eye_do_node" />
    <arg name="ft_servo" default="ft_servo" />
    <arg name="show_detections" default="true" />
    <arg name="camera_name" default="/eye" />
    <arg name="nodelet_manager" default="my_hand_eye_manager" />
    <arg name="flag" default="false" />
    <arg name="if_detect_QR_code" default="false" />
    <arg name="if_emulation" default="false" />
    <arg name="debug" default="true" />

    <include file="$(find my_hand_eye)/launch/eye.launch">
        <arg name="nodelet_manager" value="$(arg nodelet_manager)"/>
    </include>
    <include file="$(find my_hand_eye)/launch/include/yolov5.launch" >
        <arg name="debug" value="false" />
    </include>

    <!-- Set parameters -->
    <rosparam command="load" file="$(find my_hand_eye)/param/move.yaml" ns="$(arg node_namespace)" />

    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)" args="manager" output="screen"/>
    <group if="$(arg if_detect_QR_code)">
        <node pkg="nodelet" type="nodelet" name="my_hand_eye_QR_code_node" args="load my_hand_eye/QRcodeDetector $(arg nodelet_manager)" output="screen" />
    </group>
    <node pkg="my_hand_eye" type="my_hand_eye_do_node" name="$(arg node_namespace)" output="screen">

        <!-- Remap topics from those used in code to those on the ROS network -->
        <remap from="image_rect" to="$(arg camera_name)/image_rect_color" />

        <param name="transport_hint" type="string" value="raw" />
        <param name="ft_servo" type="string" value="/dev/$(arg ft_servo)" />
        <param name="show_detections" type="bool" value="$(arg show_detections)" />
        <param name="if_detect_QR_code" type="bool" value="$(arg if_detect_QR_code)" />
        <param name="white_vmin" type="int" value="120" />
        <param name="speed_standard_static" type="double" value="0.16" />
        <param name="speed_standard_motion" type="double" value="0.12" />
        <param name="enlarge" type="double" value="0.98" />
        <param name="flag" type="bool" value="$(arg flag)" />
        <param name="if_emulation" type="bool" value="$(arg if_emulation)" />
        <param name="debug" type="bool" value="$(arg debug)" />
    </node>
</launch>