<launch>
    <arg name="node_namespace" default="my_hand_eye_do_node" />
    <arg name="ft_servo" default="ft_servo" />
    <arg name="show_detections" default="true" />
    <arg name="camera_name" default="/eye" />
    <arg name="nodelet_manager" default="my_hand_eye_manager" />
    <arg name="flag" default="false" />
    <arg name="given_QR_code" default="false" />
    <arg name="emulation" default="false" />
    <arg name="debug" default="true" />
    <arg name="respawn" default="false" />
    <arg name="mode" default="0"
        doc="opt: 0:default, 
    1:cargo, 
    2:ellipse,
    3:border,
    4:parking_area" />

    <arg if="$(arg respawn)" name="bond" value="" />
    <arg unless="$(arg respawn)" name="bond" value="--no-bond" />

    <include file="$(find my_hand_eye)/launch/eye.launch">
        <!-- <arg name="nodelet_manager" value="$(arg nodelet_manager)" /> -->
        <!-- <arg name="respawn" value="$(arg respawn)" /> -->
    </include>
    <include file="$(find my_hand_eye)/launch/include/yolov5.launch">
        <arg name="debug" value="false" />
    </include>

    <!-- Set parameters -->
    <rosparam command="load" file="$(find my_hand_eye)/param/move.yaml" ns="$(arg node_namespace)" />

    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)" args="manager" output="screen" />
    <group if="$(arg given_QR_code)">
        <node pkg="nodelet" type="nodelet" name="my_hand_eye_QR_code_node"
            args="load my_hand_eye/QRcodeDetector $(arg nodelet_manager) $(arg bond)"
            respawn="$(arg respawn)" output="screen" />

        <include file="$(find my_hand_eye)/launch/include/zxing_qrdetector.launch">
            <!-- <arg name="nodelet_manager" value="$(arg nodelet_manager)" />
            <arg name="respawn" value="$(arg respawn)" /> -->
        </include>

        <include file="$(find my_hand_eye)/launch/include/zbar_ros.launch">
            <arg name="nodelet_manager" value="$(arg nodelet_manager)" />
            <arg name="respawn" value="$(arg respawn)" />
        </include>

        <include file="$(find my_hand_eye)/launch/front_camera.launch">
            <arg name="nodelet_manager" value="$(arg nodelet_manager)" />
            <arg name="respawn" value="$(arg respawn)" />
        </include>
    </group>
    <node pkg="my_hand_eye" type="my_hand_eye_do_node" name="$(arg node_namespace)" output="screen">

        <!-- Remap topics from those used in code to those on the ROS network -->
        <remap from="image_rect" to="$(arg camera_name)/image_rect_color" />

        <param name="transport_hint" type="string" value="raw" />
        <param name="ft_servo" type="string" value="/dev/$(arg ft_servo)" />
        <param name="show_detections" type="bool" value="$(arg show_detections)" />
        <param name="given_QR_code" type="bool" value="$(arg given_QR_code)" />
        <param name="white_vmin" type="int" value="120" />
        <param name="blue_hmin" type="int" value="95" />
        <param name="blue_hmax" type="int" value="130" />
        <param name="blue_smin" type="int" value="50" />
        <param name="blue_vmin" type="int" value="35" />
        <param name="factor" type="int" value="150" />
        <param name="speed_standard_static" type="double" value="0.17" />
        <param name="speed_standard_motion" type="double" value="0.14" />
        <param name="target_ellipse_theta" type="double" value="-4.033091446" />
        <param name="fThScoreScore" type="double" value="0.4" />
        <param name="fMinReliability" type="double" value="0.4" />
        <param name="flag" type="bool" value="$(arg flag)" />
        <param name="emulation" type="bool" value="$(arg emulation)" />
        <param name="debug" type="bool" value="$(arg debug)" />
        <param name="mode" type="int" value="$(arg mode)"/>
    </node>
</launch>