<launch>
  <arg name="camera_frame_id" default="eye" />
  <arg name="nodelet_manager" default="my_hand_eye_manager"/>
  <node pkg="nodelet" type="nodelet" name="$(arg camera_frame_id)" args="load cv_camera/CvCameraNodelet $(arg nodelet_manager)" output="screen">
    <param name="frame_id" value="$(arg camera_frame_id)" />
    <param name="rate" value="30.0" type="double" />
    <param name="device_path" value="/dev/eye" type="string" />
    <param name="image_width" value="1920" type="int" />
    <param name="image_height" value="1080" type="int" />
    <param name="cv_cap_prop_fourcc" value="1196444237" type="double" />
    <param name="cv_cap_prop_brightness" value="1" type="double" />
    <param name="cv_cap_prop_contrast" value="40" type="double" />
    <param name="cv_cap_prop_saturation" value="50" type="double" />
    <param name="cv_cap_prop_hue" value="0" type="double" />
    <param name="cv_cap_prop_exposure" value="50" type="double" />
  </node>

  <include file="$(find my_hand_eye)/launch/include/image_proc.launch">
    <arg name="camera" value="$(arg camera_frame_id)"/>
    <arg name="manager" value="$(arg nodelet_manager)"/>
    <arg name="respawn" value="true"/>
  </include>
</launch>
