<?xml version="1.0"?>
<launch>
    <!-- 192.168.43.10 -->
    <arg name="nodelet_manager" default="my_hand_eye_manager" />
    <arg name="flag" default="false" />
    <arg name="given_QR_code" default="true" />
    <arg name="respawn" default="false" />
    <arg name="usart_port_name" default="esp32" />

    <arg if="$(arg respawn)" name="bond" value="" />
    <arg unless="$(arg respawn)" name="bond" value="--no-bond" />

    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)" args="manager" output="screen"/>

    <!-- Example camera launch -->
    <include file="$(find my_hand_eye)/launch/front_camera.launch">
        <arg name="nodelet_manager" value="$(arg nodelet_manager)"/>
        <arg name="respawn" value="$(arg respawn)"/>
    </include>

    <include file="$(find my_hand_eye)/launch/include/zxing_qrdetector.launch">
        <arg name="nodelet_manager" value="$(arg nodelet_manager)"/>
        <arg name="respawn" value="$(arg respawn)"/>
    </include>

    <node pkg="nodelet" type="nodelet" name="my_hand_eye_QR_code_node" args="load my_hand_eye/QRcodeDetector my_hand_eye_manager $(arg bond)" output="screen">
        <param name="usart_port_name" type="string" value="/dev/$(arg usart_port_name)"/>
        <param name="serial_baud_rate" type="int" value="9600"/>
    </node>
</launch>
