<launch>
    <!-- 开启RGB摄像头  -->
    <include file="$(find turn_on_wheeltec_robot)/launch/wheeltec_camera.launch" >
      <arg name="if_usb_cam" value="true"/>
    </include>
    <!-- 开启巡线节点  -->
    <node name='auto_drive' pkg="motion_controller" type="auto_drive" output="screen">
    </node>
    <!-- 开启弯道节点 -->
    <node pkg="motion_controller" type="corners_judge" name="corners_judge" output="screen" />    
    <!-- 开启控制节点 -->
    <node pkg="motion_controller" type="corners" name="corners" output="screen">
      <param name="kp" type="double" value="0.0027" />
      <param name="kd" type="double" value="0.03" />
      <param name="turn_left" type="bool" value="1" />
    </node>
    <!-- 开启机器人底层相关节点  -->
    <include file="$(find turn_on_wheeltec_robot)/launch/turn_on_wheeltec_robot.launch" />
    <!-- turn on lidar开启雷达  -->
    <!-- <include file="$(find turn_on_wheeltec_robot)/launch/wheeltec_lidar.launch" /> -->
    <!-- <include file='$(find motion_controller)/launch/nodes/laserTracker.launch' /> -->
  </launch>
  