<launch>
    <!-- 开启机器人底层相关节点  -->
    <include file="$(find turn_on_wheeltec_robot)/launch/turn_on_wheeltec_robot.launch" />
    <!-- 开启执行节点  -->
    <include file="$(find motion_controller)/launch/nodes/performer.launch" />
    <!-- 选择调节pid的节点 -->
    <!-- 控制节点 -->
    <include file="$(find motion_controller)/launch/nodes/controller.launch">
        <arg name="debug" value="true" />
    </include>

    <!-- 视觉节点 -->
    <!-- 机械臂节点 -->
    <include file="$(find my_hand_eye)/launch/do.launch">
        <arg name="node_namespace" value="my_hand_eye_do_node" />
        <arg name="ft_servo" value="ft_servo" />
        <arg name="show_detections" value="true" />
        <arg name="camera_name" value="/eye" />
        <arg name="nodelet_manager" value="my_hand_eye_manager" />
        <arg name="flag" value="false" />
        <arg name="given_QR_code" value="true" />
        <arg name="emulation" value="false" />
        <arg name="debug" value="false" />
    </include>
    <!-- 开启视觉pid节点 -->
    <include file="$(find motion_controller)/launch/nodes/adjuster.launch">
        <arg name="debug" value="true" />
    </include>

    <!-- 服务节点 -->
    <include file="$(find motion_controller)/launch/nodes/server.launch">
        <arg name="debug" value="false" />
    </include>
    
    <!-- stm32pid不用开启执行节点 -->
    <!-- <include file="$(find motion_controller)/launch/nodes/stm32_pid.launch" /> -->
</launch>