<launch>
	<!-- For find_object node use calling service -->
	<!-- <arg name="image_topic" default="/to_mmdetector" /> -->
	<!-- For find_object node use subscribing -->
	<!-- <arg name="visualization" default="false" /> -->
	<arg name="mmdet_pub_rate" default="5" />
	<arg name="visualization" default="true" />
	<arg name="param_modification" default="false" />

	<node pkg= "mmdetection_ros" name="cargo_detector" type="cargo_detector.py"  output="screen"> 
		<param name="~publish_rate" value="$(arg mmdet_pub_rate)" type="int" />
		<param name="~visualization" value="$(arg visualization)" type="bool" />
		<param name="~param_modification" value="$(arg param_modification)" type="bool" />
	</node>
</launch>
