<!-- 
 zxing_qrdetector_demo.launch

 Copyright (C) 2015 Alessandro Francescon
 
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License.
 
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.
 
 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<launch>
    
    <arg name="camera" default="front_camera"/>
	<arg name="nodelet_manager" default="my_hand_eye_manager" />
	<arg name="respawn" default="false" />
	<arg if="$(arg respawn)" name="bond" value="" />
    <arg unless="$(arg respawn)" name="bond" value="--no-bond" />

	<node pkg="zxing_cv" type="qr_detector_node" name="qr_detector_node" output="screen">
		<param name="adaptive_threshold_block_size" value="201" />
		<param name="adaptive_threshold_threshold" value="21" />
		<remap from="/camera/image" to="/$(arg camera)/image_rect_color" />
	</node>
	<!-- The QR detector nodeler -->
	<!-- <node pkg="nodelet" type="nodelet" name="qr_detector" args="load zxing_cv/QRDetectorNodelet $(arg nodelet_manager) $(arg bond)" output="screen" respawn="$(arg respawn)">
		<param name="adaptive_threshold_block_size" value="201" />
		<param name="adaptive_threshold_threshold" value="21" />
                <rosparam param="qr_code_points">[0.0, 0.0, 0.0, 0.0, 0.125, 0.0, 0.125, 0.0, 0.0]</rosparam>
		<param name="ignore_point_in_excess" value="true" />
		<remap from="/camera/image" to="/$(arg camera)/image_rect_color" />
	</node> -->

        <!-- The dynamic reconfigure gui -->
        <!-- <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure">
        </node> -->

	<!-- The optimized image viewer -->
	<!-- <node pkg="image_view" type="image_view" name="optimized_image_viewer" args="image:=/qr_detector/image_optimized">
	</node> -->

	<!-- The debug image viewer -->
	<!-- <node pkg="image_view" type="image_view" name="debug_image_viewer" args="image:=/qr_detector/image_debug">
	</node> -->

        <!-- The rqt topic gui -->
        <!-- <node pkg="rqt_topic" type="rqt_topic" name="rqt_topic">
        </node> -->

</launch>
